<!-- prettier-ignore -->
<!-- formatter-ignore -->
<!-- @format-ignore -->
<!-- Note this template is currently not used, but is kept for reference -->
<div
    class="dccqol chat-card"
    data-actor-id="{{actor.id}}"
    data-weapon-id="{{weapon.id}}"
    data-token-id="{{tokenId}}"
    data-hits-target="{{hitsTarget}}"
    data-is-crit="{{isCrit}}"
    data-is-fumble="{{isFumble}}"
>
    <div class="card-content">
        <!-- Roll Results - First the formula, then the total -->
        {{{diceHTML}}}

        <!-- Hit/Miss/Crit/Fumble Status -->
        {{#if isDisplayHitMiss}} {{#if isFumble}}
        <div class="roll-result status-failure">{{localize "DCC.Fumble"}}!</div>
        {{else if isCrit}}
        <div class="roll-result status-success">
            {{localize "DCC.CriticalHit"}}!
        </div>
        {{else if hitsTarget}}
        <div class="roll-result status-success">
            {{actor.name}} {{#if target}}{{localize "DCC-QOL.AttackRollHits"}}
            {{target.name}}{{else}}{{localize "DCC-QOL.AttackRollHits"}}{{/if}}
        </div>
        {{else}} {{#if target}}
        <div class="roll-result status-failure">
            {{actor.name}} {{localize "DCC-QOL.AttackRollMisses"}}
            {{target.name}}
        </div>
        {{/if}} {{/if}} {{/if}}

        <!-- Deed Die Results -->
        {{#if deedDieValue}}
        <div
            class="roll-result {{#if deedRollSuccess}}status-success{{else}}status-failure{{/if}}"
        >
            {{localize "DCC.DeedDie"}}: <strong>{{deedDieValue}}</strong>{{#if
            deedRollSuccess}}{{#if hitsTarget}}
             ({{localize "DCC-QOL.DeedRollSuccess"}})
             {{/if}} {{/if}}
        </div>
        {{/if}}

        <!-- Action Buttons -->
        <div class="card-buttons">
            {{#if isFumble}}
            <button data-action="fumble">{{localize "DCC.RollFumble"}}</button>
            {{else if isCrit}}
            <button data-action="crit">{{localize "DCC.RollCritical"}}</button>
            <button data-action="damage">{{localize "DCC.RollDamage"}}</button>
            {{else if hitsTarget}}
            <button data-action="damage">{{localize "DCC.RollDamage"}}</button>
            {{/if}} {{#if friendlyFire}}
            <button data-action="friendlyFire">
                {{localize "DCC-QOL.FriendlyFireCheck"}}
            </button>
            {{/if}}
        </div>

        <!-- Optional Weapon Description -->
        {{#if weapon.system.description.value}}
        <details>
            <summary>{{localize "DCC.WeaponDetails"}}</summary>
            <div>{{{weapon.system.description.value}}}</div>
        </details>
        {{/if}}

        <!-- Warning for Friendly Fire -->
        {{#if friendlyFire}}
        <div>
            <p>
                <i class="fas fa-exclamation-triangle"></i> {{localize
                "DCC-QOL.WeaponMissileToMelee"}}
            </p>
        </div>
        {{/if}}

        <!-- Debug Info (collapsible) -->
        {{#if target}}
        <details>
            <summary>{{localize "DCC.Details"}}</summary>
            <div>
                <p>
                    {{localize "DCC.Roll"}}: {{roll.total}} vs
                     {{localize "DCC.ArmorClass"}}: {{target.ac}}
                </p>
                <p>
                    <small
                        >{{localize "DCC.Attack"}}: {{hitsTarget}},
                         {{localize "DCC.Critical"}}: {{isCrit}}, {{localize "DCC.Fumble"}}:
                        {{isFumble}}</small
                    >
                </p>
            </div>
        </details>
        {{/if}}
    </div>

    <!-- Weapon Properties as Tags -->
    {{#if properties.length}}
    <footer>
        {{#each properties as |property|}}
        <span>{{property}}</span>
        {{/each}}
    </footer>
    {{/if}}
</div>
